{{!< default}}
{{#if facebook}}
<div class="author__social">
  <a href="{{facebook_url}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>
{{/if}}
