{{!< default}}
<div class="author__social">
  <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  <a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
  <a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
</div>
