{{!< default}}
{{#post}}
<a class="back__to__home" href="/">&larr; HOME</a>
<header class="home__header" {{#if image}} style="background-image: url({{image}});"{{else}} style="background: #111;" {{/if}}>
  <div class="home__meta">
    <h1 class="header__meta__title">{{title}}</h1>
  </div>
</header>
<main class="post__content">
  {{content}}
</main>
{{/post}}
