.articles__wrapper {
  width: 60%;
  max-width: 1024px;
  margin: auto;
  padding: 3rem 0 0 0;
  @media screen and (max-width: 1440px) {
    width: 80%;
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
    padding-top: 3rem;
    padding: 3rem .5rem 0 .5rem;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-top: 3rem;
    padding: 1.5rem .5rem 0 .5rem;
  }
}
.article__container {
  padding: 3rem 0;
  margin-bottom: 10rem;
  position: relative;
  &:last-of-type {
    margin-bottom: 6rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 1.5rem;
    }
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 6rem;
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 3rem;
    padding: 0;
  }
}
.article__container-nocover {
  padding: 0;
  margin-bottom: 8rem;
  position: relative;
  @media screen and (max-width: 1024px) {
    margin-bottom: 6rem;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 3rem;
    padding: 0;
  }
}
.article__header {
  width: 55%;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
.article__header-nocover {
  width: 100%;
  .exc {
    padding-right: 0;
  }
}
.article__title {
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.exc {
  padding-left: 4rem;
  padding-right: 2rem;
  margin-top: 0;
  position: relative;
  @media screen and (max-width: 600px) {
    padding: 0;
  }
  &:before {
    position: absolute;
    display: block;
    top: 1.5rem;
    left: 0;
    width: 3rem;
    height: 4px;
    background-color: rgba(0,0,0,.3);
    content: "";
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
.article__link {
  display: inline-block;
  padding-top: 3rem;
  padding-left: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(#3BADA6,1);
  @media screen and (max-width: 600px) {
    padding: 0 0 0 .5rem;
  }
}
.article__cover {
  overflow: hidden;
  width: 45%;
  height: 100%;
  clear: both;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  filter: grayscale(80%);
  @media screen and (max-width: 600px) {
    position: static;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.featured__label {
  margin-top: 3rem;
  text-align: center;
  text-transform: lowercase;
  color: rgba(255,255, 255, .4);
}
.nocover__featured__label {
  color: rgba(0,0,0,.08);
}
